:root {
    --primary-color: rgb(194, 208, 255);
    --secondary-color: rgb(57, 60, 65);
    --tertiary-color: rgb(3, 25, 99);
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    font-family: 'Lato', sans-serif;
  }
  header {
    padding: 15px 25px;
    background-color: var(--secondary-color);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  header nav {
   width: 50%;
  }
  header h1 {
    font-weight: bold;
    font-size: 2.5vw;
    padding-left: 40px;
    color: var(--primary-color);
    margin-right: auto;
    background-color: var(--secondary-color);
    align-content: center;
  }
  header a {
    color: var(--primary-color);
    text-decoration: none;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
  }
  header nav ul li a {
  /*  margin: 10px 30px;
    padding: 10px 5px; */
    font-weight: lighter;
    font-size: 1.75vw;
    font-weight: bold;
  }
  img {
    border-radius: 15px;
  }
  .section-title {
    font-size: 2.5vw;
    font-style: normal;
    padding-top: 100px;
    width: 60%;
    margin: 0 auto 100px auto;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
}
  .portfolio-image-article:hover img{
    transform: scale(1.5);
    transition-duration: .5s;
    border: 4px solid var(--tertiary-color);
    overflow: visible;
  }
  .portfolio-image-article:hover .project-tech {
      visibility: visible;
      color: var(--tertiary-color);
      font-size: 1.5vw;
      z-index: 2;
  }
  .project-tech {
    visibility: hidden;
    position: absolute;
    font-size: .75vw;
    transition: font-size;
    transition-duration: .5s;
    top: 45px;
    left: 45px;
    margin: 0;
    z-index: -1;
  }
  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .light-to-dark-section {
    background-image: linear-gradient(var(--primary-color),var(--secondary-color));
  }
  .dark-to-light-section {
    background-image: linear-gradient(var(--secondary-color),var(--primary-color));
  }
  .portfolio-image-article {
    margin: 10px;
    position: relative;
  }
  .portfolio-image {
    height: 200px;
    width: 200px;
  }
  .icon-image {
    max-height: 100px;
    margin: 0;
  }
  .header-icon {
    max-height: 25px;
    width: auto;
  }

  #about-me {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(var(--secondary-color),var(--primary-color));
  }
  #contact-icon-holder {
    margin-right: 20px;
    margin-left: auto;
    width: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
  }
  #contact-icon-holder a img {
    min-width: 0;
    width: 100%;
    height: auto;
  }
  #image-holder {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 200px 15%;
    margin-right: 0;
  }
  #image-holder img {
    height: 200px;
    width: 200px;
  }
  #bio-holder {
    width: 40%;
    justify-content: left;
    margin: 200px 15%;
    margin-left: 0;
  }
  #bio-holder h2 {
    font-size: 2.5vw;
    margin: 20px 0;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    width: 50%;
  }
  #bio-holder p {
    font-size: 1.2em;
    line-height: 1.3;
  }
  #portfolio-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 70%;
    max-width: 800px;
    margin: 200px auto 0 auto;
  }
  .contact-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
    padding-bottom: 50px;
  }
  #contact-info {
    padding-top: 100px;
    justify-content: center;
  }
  .contact-invite {
    width: 35%;
    margin-left: 10px;
  }
  .contact-icon-container {
    width: 15%;
  }

  /*******    Media Queries     ********/

  @media screen and (max-width: 980px) {
   
  }

  @media screen and (max-width: 768px) {
    #image-holder, #bio-holder {
        width: 100%;
        margin:20px;
    }
    #bio-holder {
        text-align: left;
    }
    #bio-holder h2{
        text-align: center;
    }
  }

  @media screen and (max-width: 575px) {

  }
 


